.git/
\#*#
*~
!.gitignore
!.git
.make/
.idea/

*.o
*.mod
*.out
*.dot
*.expand
*.sxx
*.mxx
*.lxx
*.s[0-9][0-9][0-9]
*.s[0-9][0-9]
*.m[0-9][0-9][0-9]
*.m[0-9][0-9]
*.l[0-9][0-9][0-9]
*.l[0-9][0-9]
_*.cmp/
core.*

Lib/
Wk/
Log/
Data/
img/

*.swp
*.bak
*.bck
*.log
*.lprof
*.stat
out
err
stdout
stderr
std_out
std_err

img/
.*.swp
*.exe
*.so
*.hi
*.l01
*.png
*.pdf
*.gif
*.mp4
*.grib2
*.grib
*.nc
*.pyc
*.diff
.python-version
*.gz
*.npy
*.npz
*.pkl
*.tar
*.bin
*.dat
*.db
temp.tex
tags

fort.*
ft.*
NAMELIST
data/
__pycache__/
wk_parallel/
work/

